body {
    margin: 0;
    font-size: 100%;
    background-color: lightblue;
}
.h1 {
    text-align:left;
    color:black;
    font-size:3.5em;
    font-family:Arial, Helvetica, sans-serif;
}
.greyText {
    color:slategray;
}
.centerAlign {
    text-align:center;
}
.rightAlign {
    text-align:end;
}
.header {
    position:sticky;
    position: -webkit-sticky;
    padding:3em;
    background-color:dimgray;
    border-style: none;
}