body {
    background-color: lightblue;
}
h1 {
    text-align:left;
    color:black;
    font-size:82px;
    font-family: monospace;
}
.greyText {
    color:slategray;
}
.centerAlign {
    text-align:center;
}
.rightAlign {
    text-align:end;
}
.headerMain {
    padding: auto;
}