body {
    margin: 0;
    font-size: 100%;
    height: 200%;
    background-color: lightblue;
}
h1 {
    line-height:75%;
    margin-top:0px;
    text-align:left;
    color:black;
    font-size:3.5em;
    font-family:Arial, Helvetica, sans-serif;
}
img.middle {
    vertical-align:middle;
}
a.button:link, a.button:visited {
    background-color:dimgray;
    color:ivory;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
a.button:hover, a.button:active {
    background-color:gray;
}

.topBar {
    overflow: hidden;
    background-color: rgb(90, 90, 90);
}

.topBar a.bar {
    float: left;
    display:block;
    color:silver;
    text-align: center;
    padding:24px 28px;
    text-decoration: none;
    position:sticky;
    position: -webkit-sticky;
    top: 2em;
}
.topBar a.bar:hover {
    background-color: rgb(77, 77, 77);
}

.greyText {
    color:slategray;
}
.centerAlign {
    text-align:center;
}
.rightAlign {
    text-align:end;
}
.header {
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    padding-top: 0;
    background-color:dimgray;
    border-style: none;
}